In [ ]:
! pip install transformers
! pip install tf-keras
! pip install spacy

Requirement already satisfied: transformers in /opt/conda/lib/python3.11/site-packages (4.41.2)

In [1]:
import pandas as pd
import os
import numpy as np
import random
import json
import re
from tqdm import tqdm

In [28]:

import tqdm
import requests
import pandas as pd
import os
import numpy as np
import random
import json
from collections import Counter
import re
from tqdm import tqdm

class ColumnAnalysis:

    def __init__(self):
       
        self.entity_type_dict = {
            "PERSON": "NE",
            "NORP": "NE",
            "FAC": "NE",
            "ORG": "NE",
            "GPE": "NE",
            "LOC": "NE",
            "PRODUCT": "NE",
            "EVENT": "NE",
            "WORK_OF_ART": "NE",
            "LAW": "NE",
            "LANGUAGE": "NE",
            "DATE": "LIT",
            "TIME": "LIT",
            "PERCENT": "LIT",
            "MONEY": "LIT",
            "QUANTITY": "LIT",
            "ORDINAL": "LIT",
            "CARDINAL": "LIT",
            "URL": "LIT",
            "DESC": "LIT",
            "TOKEN": "NE",
            "INTEGER": "LIT",
            "FLOAT": "LIT",
            "DATETIME": "LIT",
            "ADDRESS": "LIT",
            "EMAIL": "LIT"
        }

        self.LIT_DATATYPE = {
            "DATE": "DATETIME", 
            "TIME": "STRING", 
            "PERCENT": "STRING", 
            "MONEY": "STRING", 
            "QUANTITY": "STRING", 
            "ORDINAL": "NUMBER", 
            "CARDINAL": "NUMBER", 
            "URL": "STRING",
            "DESC": "STRING",
            "TOKEN": "STRING",
            "INTEGER": "NUMBER",
            "FLOAT": "NUMBER",
            "DATETIME": "DATETIME",
            "ADDRESS": "STRING",
            "EMAIL": "STRING",
            "STRING": "STRING"
        }

        self.NE_DATATYPE = ["PERSON", "NORP", "FAC", "ORG", "GPE", "LOC", "PRODUCT", "EVENT", "WORK_OF_ART", "LAW", "LANGUAGE"]


    def most_frequent_element(self, input_list):
        # Count occurrences of each element in the list
        counter = Counter(input_list)
        # Get the most common element and its count
        most_common = counter.most_common(1)
        # Return the element (or None if the list is empty)
        return most_common[0][0] if most_common else None
    
    def classifiy_columns(self, df):

        def most_frequent_element(input_list):
            # Count occurrences of each element in the list
            counter = Counter(input_list)
            
            # Get the most common element(s) and their count
            most_common = counter.most_common(1)  # Returns a list of (element, count)
            
            # If there are ties (multiple elements with the same frequency), this will return the first one encountered.
            return most_common[0][0]  # Return the element from the first tuple

       
        def update_dict(dictionary, key, value=1):
            if key not in dictionary:
                dictionary[key] = 0
            dictionary[key] += value    

        url_pattern = re.compile(r'^(https?|ftp)://[^\s/$.?#].[^\s]*$', re.IGNORECASE)
        email_pattern = re.compile(r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$', re.IGNORECASE)
        address_pattern = re.compile(
            r'\d+\s+\w+\s+(?:street|st|avenue|ave|road|rd|boulevard|blvd|lane|ln|drive|dr|court|ct|circle|cir|place|pl)\.?\s*\w*', re.IGNORECASE)
        datetime_pattern = re.compile(
            r'(?:\d{4}-\d{2}-\d{2})'  # YYYY-MM-DD format
            r'|(?:31(?:\/|-|\.)0?[13578]|1[02](?:\/|-|\.)\d{4})'  # 31 days months
            r'|(?:29|30(?:\/|-|\.)0?[1,3-9]|1[0-2](?:\/|-|\.)\d{4})'  # 29/30 days months
            r'|(?:0?[1-9]|[12]\d|3[01])(?:\/|-|\.)'  # Day
            r'(?:0?[1-9]|1[0-2])(?:\/|-|\.)\d{4}'  # Month
            r'|(?:0?[1-9]|1[0-2])/(?:0?[1-9]|[12]\d|3[01])/(?:\d{2})'  # MM/DD/YY format
            r'|(?:0?[1-9]|1[0-2])/(?:0?[1-9]|[12]\d|3[01])/\d{2}'  # MM/DD/YY format
            r'\b\d{2}/(?:0?[1-9]|[12]\d|3[01])/(?:0?[1-9]|1[0-2])\b'  # YY/DD/MM format
            r'|(?:[01]?\d|2[0-3]):[0-5]\d\.[0-5]\d'  # HH:MM.SS format
            r'|(?:[01]?\d|2[0-3]):[0-5]\d'  # HH:MM format
            r'|(?:[0-5]?\d):[0-5]\d(?:\.\d{1,2})?'  # H:MM or H:MM.S format
            r'|(?:2[0-3]|[01]?\d)h[0-5]?\d(?:m[0-5]?\d(?:\.\d{1,2})?s)?',  # HhMMmSSs format
            re.IGNORECASE
        )

        
        
        #pattern = r'^[\d,.]+$'  # ^ asserts position at the start, [\d,.]+ matches one or more digits, commas, or periods, $ asserts position at the end.
        #return re.match(pattern, input_string) is not None

        col_type = []
        final_result = {}
        
        for col_name, col_data in df.items():
            
            # Analyze the concatenated text using Spacy
            labels = {}
            tags = {"NE": 0, "LIT": 0}
            type = []
            count_cell = 0
            
            for cell in col_data:
                is_number = False
                label = None
            
                if isinstance(cell, str):
                    if cell == "NaN":
                        label = ""
                    
                    # Check if the cell is a URL
                    elif re.match(url_pattern, cell):
                        label = "URL"
                    
                    # Check if the cell is an Email
                    elif re.match(email_pattern, cell):
                        label = "EMAIL"
                    
                    # Check if the cell is an Address
                    elif re.match(address_pattern, cell):
                        label = "ADDRESS"
                        
                    # Check if the cell matches datetime pattern
                    elif re.match(datetime_pattern, cell):
                        label = "DATETIME"


                # Check if the cell is a number
                if label is None:
                    try:
                        cell = str(cell)
                        if ',' in cell or '.' in cell or '%' in cell or '$' in cell:
                            cell = cell.replace('.', '').replace(',', '').replace('%', '').replace('$', '')
                        
                        if len(cell) - len(re.findall(r'\d', cell)) < 5:
                            is_number = True
                    except:
                        pass
                
                
                if is_number:
                    label = "NUMBER"
                elif len(cell.split(" ")) >= 15:   #is the choosen treshold for discriminate descriptions and strings
                    label = "NOA"
                elif len(cell.split(" ")) == 1 and len(cell) <= 4:
                    label = "STRING"
                    
                if label is not None:
                    type.append(label)
                    break
                else:
                    if count_cell > 5:
                        type.append(f"NE_OTHERS")
                        break
                    else:
                        count_cell += 1
                        # do the lookup
                        url = 'https://lamapi.hel.sintef.cloud/lookup/entity-retrieval'
                        params = {
                            'name': cell,
                            'token': 'lamapi_demo_2023',
                            'kg': 'wikidata',
                            'limit': 10,
                            'query': f'{{"query": {{"bool": {{"must": [{{"match": {{"name": {{"query": "{cell}", "boost": 2.0}}}}}}]}}}}}}',
                            'sort': [
                                f'''{{"popularity": {{"order": "desc"}}}}'''
                            ]
                        }
    
                        response = requests.get(url, params=params)
                        if response.status_code == 200:
                            data = response.json()
                            if len(data) > 0:
                                if data[0]['NERtype'] != "OTHERS":
                                    type.append(f"NE_{data[0]['NERtype']}")
                                    break
                                    
                                #print(f"{cell} --> NE_{data[0]['NERtype']}")
                                #type.append(f"NE_{data[0]['NERtype']}")
                                
                            else:
                                type.append("None")
            
            most_common_type = self.most_frequent_element(type)
            col_type.append(most_common_type)
  
           
        return col_type

In [29]:
tables = "./data/Dataset/Dataset/Round1_T2D/tables/"
#tables = "./data/Dataset/Dataset/Round3_2019/tables/"

target = []
column_analysis = ColumnAnalysis()

# Iterate through each table
for table in tqdm(os.listdir(tables)):
    table_file = os.path.join(tables, table)
    table_name = table.split(".")[0]
    df = pd.read_csv(table_file)

    result = column_analysis.classifiy_columns(df.iloc[1:100])

    final = list(zip(df.iloc[2], df.columns, result))
    filtered_data = [(item, result) for _, item, result in final]
    print(filtered_data)
    print(table_file)
    print("____________________")

  2%|▏         | 1/64 [00:20<21:26, 20.43s/it]

[('#', 'NUMBER'), ('Media', 'NE_OTHERS'), ('MIX', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/10579449_0_1681126353774891032.csv
____________________

  3%|▎         | 2/64 [01:04<35:14, 34.11s/it]

[('Title', 'NE_OTHERS'), ('Publisher', 'NUMBER'), ('EU Release Date', 'DATETIME'), ('AU Release Date', 'DATETIME'), ('PEGI', 'NUMBER'), ('ACB', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/11833461_1_3811022039809817402.csv
____________________

  5%|▍         | 3/64 [01:47<38:52, 38.23s/it]

[('Great white pelican', 'NE_OTHERS'), ('Pelecanus onocrotalus', 'NE_OTHERS'), ('QE', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/13719111_1_5719401842463579519.csv
____________________

  6%|▋         | 4/64 [01:58<27:28, 27.48s/it]

[('OAU State', 'NE_ORG'), ('Official Language', 'NE_PERS'), ('IMF SDRs', 'NUMBER'), ('Date of Independence', 'NUMBER'), ('Head of Central Bank', 'NE_PERS'), ('Capital', 'NE_LOC'), ('IMF #Votes', 'NUMBER'), ('Name of Currency', 'NE_LOC')]
./data/Dataset/Dataset/Round1_T2D/tables/14067031_0_559833072073397908.csv
____________________

  8%|▊         | 5/64 [01:58<17:31, 17.82s/it]

[('Party', 'NUMBER'), ('Votes 2015', 'NUMBER'), ('% votes 2015', 'NUMBER'), ('Seats', 'NUMBER'), ('Poll standing 16/4/15', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/1438042986423_95_20150728002306-00125-ip-10-236-191-2_88435628_5.csv
____________________

  9%|▉         | 6/64 [02:00<11:46, 12.18s/it]

[('#', 'NUMBER'), ('Name', 'NE_LOC'), ('Age', 'NUMBER'), ('Club', 'NUMBER'), ('LMSC', 'NE_LOC'), ('Time', 'DATETIME')]
./data/Dataset/Dataset/Round1_T2D/tables/1438042986423_95_20150728002306-00329-ip-10-236-191-2_805336391_10.csv
____________________

 11%|█         | 7/64 [02:00<07:51,  8.27s/it]

[('Worcestershire bowling', 'NE_PERS'), ('Overs', 'NUMBER'), ('Mdns', 'NUMBER'), ('Runs', 'NUMBER'), ('Wkts', 'NUMBER'), ('Wides', 'NUMBER'), ('No-Balls', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/1438042989018_40_20150728002309-00067-ip-10-236-191-2_57714692_2.csv
____________________

 12%|█▎        | 8/64 [02:02<06:01,  6.46s/it]

[('Summit', 'NE_LOC'), ('Location', 'NE_OTHERS'), ('Elevation', 'NE_LOC')]
./data/Dataset/Dataset/Round1_T2D/tables/1438042989043_35_20150728002309-00287-ip-10-236-191-2_875026214_2.csv
____________________

 14%|█▍        | 9/64 [02:04<04:32,  4.95s/it]

[('Rank', 'NUMBER'), ('Company', 'NUMBER'), ('Headquarters', 'NUMBER'), ('Industry', 'NE_OTHERS'), ('Revenue (billion $)', 'NUMBER'), ('Profits (billion $)', 'NUMBER'), ('Assets (billion $)', 'NUMBER'), ('Market Value (billion $)', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/14380604_4_3329235705746762392.csv
____________________

 16%|█▌        | 10/64 [02:05<03:27,  3.85s/it]

[("Fans' Rank", 'NUMBER'), ('Title', 'NUMBER'), ('Year', 'NUMBER'), ('Director(s)', 'NE_PERS'), ('Overall Rank', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/16767252_0_2409448375013995751.csv
____________________

 17%|█▋        | 11/64 [02:07<02:46,  3.14s/it]

[("Fans' Rank", 'NUMBER'), ('Title', 'None'), ('Year', 'NUMBER'), ('Director(s)', 'NE_PERS'), ('Overall Rank', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/20135078_0_7570343137119682530.csv
____________________

 19%|█▉        | 12/64 [02:07<02:00,  2.32s/it]

[('State/Province', 'NE_LOC'), ('Lake Name', 'NE_LOC'), ('File Size', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/21245481_0_8730460088443117515.csv
____________________

 20%|██        | 13/64 [02:09<01:47,  2.11s/it]

[("Fans' Rank", 'NUMBER'), ('Title', 'NE_OTHERS'), ('Year', 'NUMBER'), ('Director(s)', 'NE_PERS'), ('Overall Rank', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/21362676_0_6854186738074119688.csv
____________________

 22%|██▏       | 14/64 [02:11<01:40,  2.01s/it]

[('Title', 'NE_OTHERS'), ('Publisher', 'NUMBER'), ('North America', 'DATETIME'), ('Europe', 'DATETIME'), ('Japan', 'NUMBER'), ('Cost', 'NUMBER'), ('Size', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/22864497_0_8632623712684511496.csv
____________________

 23%|██▎       | 15/64 [02:13<01:38,  2.01s/it]

[('Country', 'NE_ORG'), ('Land area (km2) [49]', 'NUMBER'), ('GDP nominal (US$M)[50]', 'NUMBER'), ('Per capita GDP (US$)[51]', 'NUMBER'), ('Population[52]', 'NUMBER'), ('Government[53]', 'NE_OTHERS'), ('Conscription[54]', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/24036779_0_5608105867560183058.csv
____________________

 25%|██▌       | 16/64 [02:14<01:23,  1.75s/it]

[('Rank', 'NUMBER'), ('Title', 'NE_PERS'), ('Year', 'NUMBER'), ('Director(s)', 'NE_PERS'), ('Overall Rank', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/25404227_0_2240631045609013057.csv
____________________

 27%|██▋       | 17/64 [02:15<01:07,  1.43s/it]

[('ENTITY', 'NE_LOC'), ('CURRENCY', 'NUMBER'), ('ALPHABETIC CODE', 'NUMBER'), ('NUMERIC CODE', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/26310680_0_5150772059999313798.csv
____________________

 28%|██▊       | 18/64 [02:15<00:49,  1.07s/it]

[('Saint', 'NE_PERS'), ('Anglican', 'NUMBER'), ('Ethiopian', 'NUMBER'), ('Orthodox', 'NUMBER'), ('Catholic', 'NUMBER'), ('Non-historical', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/28086084_0_3127660530989916727.csv
____________________

 30%|██▉       | 19/64 [02:18<01:20,  1.80s/it]

[('Year', 'NUMBER'), ('Game', 'NE_OTHERS'), ('Genre', 'NE_OTHERS'), ('Platform(s)', 'NUMBER'), ('Developer(s)', 'NE_ORG')]
./data/Dataset/Dataset/Round1_T2D/tables/29414811_12_251152470253168163.csv
____________________

 31%|███▏      | 20/64 [02:23<01:56,  2.65s/it]

[('Year', 'NUMBER'), ('Game', 'NE_OTHERS'), ('Genre', 'NE_OTHERS'), ('Platform(s)', 'NUMBER'), ('Developer(s)', 'NE_ORG')]
./data/Dataset/Dataset/Round1_T2D/tables/29414811_13_8724394428539174350.csv
____________________

 33%|███▎      | 21/64 [02:28<02:19,  3.23s/it]

[('Year', 'NUMBER'), ('Game', 'NE_OTHERS'), ('Genre', 'NE_OTHERS'), ('Platform(s)', 'NE_OTHERS'), ('Developer(s)', 'NE_ORG')]
./data/Dataset/Dataset/Round1_T2D/tables/29414811_2_4773219892816395776.csv
____________________

 34%|███▍      | 22/64 [02:31<02:23,  3.42s/it]

[('Year', 'NUMBER'), ('Game', 'NE_OTHERS'), ('Genre', 'NUMBER'), ('Platform(s)', 'NE_OTHERS'), ('Developer(s)', 'NE_ORG')]
./data/Dataset/Dataset/Round1_T2D/tables/29414811_6_8221428333921653560.csv
____________________

 36%|███▌      | 23/64 [02:33<02:01,  2.96s/it]

[('Adam av Bremen', 'NE_PERS'), ('1040?85', 'NUMBER'), ('Historieskriver', 'NE_PERS')]
./data/Dataset/Dataset/Round1_T2D/tables/33401079_0_9127583903019856402.csv
____________________

 38%|███▊      | 24/64 [02:35<01:37,  2.44s/it]

[('Rank', 'NUMBER'), ('Airport', 'NE_LOC'), ('Location', 'NE_ORG'), ('Code (IATA)', 'NUMBER'), ('Total Passengers', 'NUMBER'), ('% Change', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/34041816_1_4749054164534706977.csv
____________________

 39%|███▉      | 25/64 [02:37<01:28,  2.28s/it]

[("Fans' Rank", 'NUMBER'), ('Title', 'NE_ORG'), ('Year', 'NUMBER'), ('Director(s)', 'NE_PERS'), ('Overall Rank', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/35188621_0_6058553107571275232.csv
____________________
[('Platform', 'NUMBER'), ('Developer', 'NUMBER'), ('Game Title', 'NUMBER'), ('Units Sold (in millions)', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/36102169_0_7739454799295072814.csv
____________________

 42%|████▏     | 27/64 [02:38<00:56,  1.53s/it]

[('State, Province, Territory, Country, etc', 'NE_LOC'), ('Area (square miles)', 'NUMBER'), ('Comments', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/37856682_0_6818907050314633217.csv
____________________

 44%|████▍     | 28/64 [02:39<00:55,  1.55s/it]

[("Fans' Rank", 'NUMBER'), ('Title', 'NE_OTHERS'), ('Year', 'NUMBER'), ('Director(s)', 'NE_PERS'), ('Overall Rank', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/38428277_0_1311643810102462607.csv
____________________

 45%|████▌     | 29/64 [02:43<01:15,  2.16s/it]

[('Rank', 'NUMBER'), ('Airport', 'NE_OTHERS'), ('Location', 'NE_LOC'), ('Code (IATA/ICAO)', 'None'), ('Total Passengers', 'NUMBER'), ('Rank Change', 'NUMBER'), ('% Change', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/39107734_2_2329160387535788734.csv
____________________

 47%|████▋     | 30/64 [02:45<01:09,  2.04s/it]

[('Rank', 'NUMBER'), ('Title', 'NE_ORG'), ('Year', 'NUMBER'), ('Director(s)', 'NE_PERS'), ('Overall Rank', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/39173938_0_7916056990138658530.csv
____________________

 48%|████▊     | 31/64 [02:46<01:01,  1.85s/it]

[('Rank', 'NUMBER'), ('Brand', 'NUMBER'), ('Value', 'NUMBER'), ('Industry', 'None')]
./data/Dataset/Dataset/Round1_T2D/tables/39650055_5_7135804139753401681.csv
____________________

 50%|█████     | 32/64 [02:47<00:50,  1.57s/it]

[('N', 'NUMBER'), ('Title', 'NE_PERS'), ('Year', 'NUMBER'), ('Director', 'NE_PERS'), ('IMDB Rating', 'NUMBER'), ('IMDB Votes', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/39759273_0_1427898308030295194.csv
____________________

 52%|█████▏    | 33/64 [02:48<00:36,  1.18s/it]

[('#', 'NUMBER'), ('Catcheur', 'NE_PERS'), ('Nombre de r?gnes', 'NUMBER'), ('Jours combin?s', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/40534006_0_4617468856744635526.csv
____________________

 53%|█████▎    | 34/64 [02:49<00:36,  1.20s/it]

[('Company', 'NE_ORG'), ('Country', 'NE_PERS'), ('Industry', 'NE_ORG'), ('Sales ($bil)', 'NUMBER'), ('Profits ($bil)', 'NUMBER'), ('Assets ($bil)', 'NUMBER'), ('Market Value ($bil)', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/41336118_0_4331895026409635103.csv
____________________

 55%|█████▍    | 35/64 [02:49<00:26,  1.08it/s]

[('Saint', 'NE_PERS'), ('Anglican', 'NUMBER'), ('Ethiopian', 'NUMBER'), ('Orthodox', 'NUMBER'), ('Catholic', 'NUMBER'), ('Non-historical', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/41480166_0_6681239260286218499.csv
____________________

 56%|█████▋    | 36/64 [02:53<00:49,  1.76s/it]

[('Mathematician', 'NE_PERS'), ('Year of PhD', 'NUMBER'), ('Granting Institution', 'NE_ORG'), ('Supervisor', 'NE_PERS'), ('Thesis', 'NE_OTHERS')]
./data/Dataset/Dataset/Round1_T2D/tables/43237185_1_3636357855502246981.csv
____________________

 58%|█████▊    | 37/64 [02:54<00:39,  1.47s/it]

[('Rank', 'NUMBER'), ('Player (2011 TBs)', 'NE_PERS'), ('TBs', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/45073662_0_3179937335063201739.csv
____________________

 59%|█████▉    | 38/64 [02:56<00:45,  1.76s/it]

[('Game', 'NE_OTHERS'), ('Genre', 'NUMBER'), ('Platform', 'NUMBER'), ('Release', 'DATETIME')]
./data/Dataset/Dataset/Round1_T2D/tables/46671561_0_6122315295162029872.csv
____________________

 61%|██████    | 39/64 [03:00<00:59,  2.37s/it]

[('Title', 'NE_OTHERS'), ('Year', 'NUMBER'), ('Media Type', 'NUMBER'), ('Director', 'NE_PERS'), ('Writer', 'NE_PERS'), ('Length', 'NUMBER'), ('Matting', 'NE_OTHERS')]
./data/Dataset/Dataset/Round1_T2D/tables/50245608_0_871275842592178099.csv
____________________

 62%|██████▎   | 40/64 [03:01<00:50,  2.12s/it]

[('Rank', 'NUMBER'), ('Player (2011 Ws)', 'NE_PERS'), ('W', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/50270082_0_444360818941411589.csv
____________________

 64%|██████▍   | 41/64 [03:02<00:37,  1.62s/it]

[('Unnamed: 0', 'NUMBER'), ('1998 Data Country', 'NE_LOC'), ('GDP Per Capita', 'NUMBER'), ('GDP Growth Rate', 'NUMBER'), ('GDP', 'NUMBER'), ('Inflation', 'NUMBER'), ('Population', 'NUMBER'), ('Popul. Growth', 'NUMBER'), ('Infant Mortality', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/52299421_0_4473286348258170200.csv
____________________

 66%|██████▌   | 42/64 [03:04<00:36,  1.67s/it]

[('Date', 'DATETIME'), ('Movie', 'NE_OTHERS'), ('Year', 'NUMBER'), ('Director', 'NE_PERS')]
./data/Dataset/Dataset/Round1_T2D/tables/53822652_0_5767892317858575530.csv
____________________

 67%|██████▋   | 43/64 [03:04<00:27,  1.32s/it]

[('Lake Name', 'NE_LOC'), ('Access', 'NUMBER'), ('Acres', 'NUMBER'), ('Class', 'NUMBER'), ('Category', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/53989675_0_8697482470743954630.csv
____________________

 69%|██████▉   | 44/64 [03:06<00:31,  1.58s/it]

[('Sequence', 'NUMBER'), ('Date', 'None'), ('New?', 'NUMBER'), ('Title', 'NUMBER'), ('Country', 'NUMBER'), ('Director', 'NE_LOC'), ('Year', 'NUMBER'), ('Grade', 'NUMBER'), ('Theater', 'NUMBER'), ('Shorts', 'NUMBER'), ('Additional Info', 'NUMBER'), ('Ignore This', 'NUMBER'), ('Unnamed: 12', 'NUMBER'), ('Unnamed: 13', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/54719588_0_8417197176086756912.csv
____________________

 70%|███████   | 45/64 [03:07<00:27,  1.45s/it]

[('Rank', 'NUMBER'), ('Title', 'NE_PERS'), ('Year', 'NUMBER'), ('Director(s)', 'NE_PERS'), ('Overall Rank', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/58891288_0_1117541047012405958.csv
____________________

 72%|███████▏  | 46/64 [03:12<00:41,  2.28s/it]

[('English name', 'NE_OTHERS'), ('Latin name', 'NE_OTHERS'), ('Hungarian name', 'None')]
./data/Dataset/Dataset/Round1_T2D/tables/60319454_0_3938426910282115527.csv
____________________

 73%|███████▎  | 47/64 [03:16<00:47,  2.80s/it]

[('Abbreviation', 'None'), ('Species', 'NE_OTHERS'), ('Common Name', 'NE_OTHERS')]
./data/Dataset/Dataset/Round1_T2D/tables/63450419_0_8012592961815711786.csv
____________________

 75%|███████▌  | 48/64 [03:17<00:36,  2.31s/it]

[('???O', 'NE_PERS'), ('???[?O', 'NUMBER'), ('?`?[??', 'NE_ORG'), ('????', 'NUMBER'), ('?N', 'NUMBER'), ('??', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/66009064_0_9148652238372261251.csv
____________________

 77%|███████▋  | 49/64 [03:20<00:36,  2.42s/it]

[('Rank', 'NUMBER'), ('Country', 'NE_OTHERS'), ('Population', 'NUMBER'), ('Date of Information', 'NE_OTHERS')]
./data/Dataset/Dataset/Round1_T2D/tables/69537082_0_7789694313271016902.csv
____________________

 78%|███████▊  | 50/64 [03:21<00:30,  2.16s/it]

[("Fans' Rank", 'NUMBER'), ('Title', 'NE_LOC'), ('Year', 'NUMBER'), ('Director(s)', 'NE_PERS'), ('Overall Rank', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/69881946_0_1105130426898457358.csv
____________________

 80%|███████▉  | 51/64 [03:21<00:20,  1.58s/it]

[('Lake', 'NE_LOC'), ('water temperature', 'NUMBER'), ('water gauge', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/71840765_0_6664391841933033844.csv
____________________

 81%|████████▏ | 52/64 [03:26<00:31,  2.64s/it]

[('Title', 'NE_OTHERS'), ('Developer(s)', 'NE_ORG'), ('Publisher(s)', 'NE_OTHERS'), ('Release Date', 'NE_OTHERS'), ('ESRB', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/75367212_2_2745466355267233390.csv
____________________

 83%|████████▎ | 53/64 [03:28<00:26,  2.39s/it]

[("Fans' Rank", 'NUMBER'), ('Title', 'NE_OTHERS'), ('Year', 'NUMBER'), ('Director(s)', 'NE_PERS'), ('Overall Rank', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/77694908_0_6083291340991074532.csv
____________________
[('#', 'NUMBER'), ('Media', 'NUMBER'), ('MIX', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/80588006_0_6965325215443683359.csv
____________________

 86%|████████▌ | 55/64 [03:30<00:16,  1.80s/it]

[("Fans' Rank", 'NUMBER'), ('Title', 'NE_OTHERS'), ('Year', 'NUMBER'), ('Director(s)', 'NE_PERS'), ('Overall Rank', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/84548468_0_5955155464119382182.csv
____________________

 88%|████████▊ | 56/64 [03:31<00:11,  1.43s/it]

[('#', 'NUMBER'), ('Citations', 'NUMBER'), ('Journal', 'NE_ORG')]
./data/Dataset/Dataset/Round1_T2D/tables/84575189_0_6365692015941409487.csv
____________________

 89%|████████▉ | 57/64 [03:32<00:09,  1.29s/it]

[('Rang', 'NUMBER'), ('Name', 'NE_LOC'), ('Staat(en)', 'None'), ('Fläche-(km2)', 'NUMBER'), ('Länge-(km)', 'NUMBER'), ('Max.-Tiefe-(m)', 'NUMBER'), ('Volumen-(km?)', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/8468806_0_4382447409703007384.csv
____________________

 91%|█████████ | 58/64 [03:35<00:10,  1.77s/it]

[('Scientific Name', 'NE_OTHERS'), ('Common Names (abridged)', 'NOA'), ('Family', 'NE_OTHERS'), ('Habit', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/88523363_0_8180214313099580515.csv
____________________

 92%|█████████▏| 59/64 [03:38<00:10,  2.15s/it]

[('Common Name', 'NE_OTHERS'), ('Scientific Name', 'NE_OTHERS'), ('Season', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/90196673_0_5458330029110291950.csv
____________________

 94%|█████████▍| 60/64 [03:41<00:09,  2.35s/it]

[('#', 'NUMBER'), ('Titel', 'NE_OTHERS'), ('System', 'NUMBER'), ('Reviews', 'NUMBER'), ('Durchschnitt', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/91959037_0_7907661684242014480.csv
____________________

 95%|█████████▌| 61/64 [03:43<00:07,  2.44s/it]

[('U.S./Canada Release Date', 'NE_OTHERS'), ('Title', 'NUMBER'), ('Season #', 'NUMBER'), ('Notes', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/9475172_1_1023126399856690702.csv
____________________

 97%|█████████▋| 62/64 [03:44<00:03,  1.87s/it]

[('#', 'NUMBER'), ('Media', 'NUMBER'), ('MIX', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/9567241_0_5666388268510912770.csv
____________________

 98%|█████████▊| 63/64 [03:44<00:01,  1.41s/it]

[('Nr.', 'NUMBER'), ('Museum', 'NE_LOC'), ('Country', 'NUMBER'), ('Score *', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/9834884_0_3871985887467090123.csv
____________________

100%|██████████| 64/64 [03:46<00:00,  3.54s/it]

[('No.', 'NUMBER'), ('Name', 'NE_LOC'), ('Feet', 'NUMBER'), ('Met', 'NUMBER'), ('Grid Ref', 'NUMBER'), ('Area', 'NE_OTHERS'), ('?', 'NUMBER'), ('Trips', 'NUMBER')]
./data/Dataset/Dataset/Round1_T2D/tables/99070098_0_2074872741302696997.csv
____________________

## Round1_T2D

In [ ]:
####################
# READ THE JSON
#####################

json_file_path = "./data/Round1_T2D_f3_sorted_mentions.json"

# Load the JSON file
with open(json_file_path, "r") as file:
    R1_sorted_mentions = json.load(file)

R1_cea = [item[0]for item in R1_sorted_mentions]

In [ ]:
categories = [
    "Place",
    "PopulatedPlace",
    "City",
    "Country",
    "Region",
    "Mountain",
    "Island",
    "Lake",
    "River",
    "Park",
    "Building",
    "HistoricPlace",
    "Monument",
    "Bridge",
    "Road",
    "Airport",
    "Person",
    "Artist",
    "Athlete",
    "Politician",
    "Scientist",
    "Writer",
    "Actor",
    "Musician",
    "MilitaryPerson",
    "Religious",
    "Royalty",
    "Criminal",
    "Organisation",
    "Company",
    "EducationalInstitution",
    "PoliticalParty",
    "SportsTeam",
    "Non-ProfitOrganisation",
    "GovernmentAgency",
    "ReligiousOrganisation",
    "Band",
    "Library",
    "Museum",
    "Hospital",
    "University",
    "TradeUnion"
]

# Mapping of subtypes to macro classes
mapping = {
    "Place": ["PopulatedPlace", "City", "Country", "Region", "Mountain", "Island", "Lake", "River", "Park", "Building", "HistoricPlace", "Monument", "Bridge", "Road", "Airport"],
    "Person": ["Artist", "Athlete", "Politician", "Scientist", "Writer", "Actor", "Musician", "MilitaryPerson", "Religious", "Royalty", "Criminal"],
    "Organisation": ["Company", "EducationalInstitution", "PoliticalParty", "SportsTeam", "Non-ProfitOrganisation", "GovernmentAgency", "ReligiousOrganisation", "Band"],
    "Institution": ["Library", "Museum", "Hospital", "University", "TradeUnion"]
}

In [ ]:
tables = "./data/Dataset/Dataset/Round1_T2D/tables/"

def count_numbers_in_string(s):
    return len(re.findall(r'\d+', str(s)))

median_lengths = []
median_token_counts = []
average_numeric_counts = []
target = []
columns = []

# Iterate through each table
for table in tqdm(os.listdir(tables)):
    table_file = os.path.join(tables, table)
    table_name = table.split(".")[0]
    df = pd.read_csv(table_file)
    
    for col in df.columns:
        column = df[col].astype(str)
        
        # Calculate median length for the current column
        median_length = column.apply(len).median()
        median_lengths.append(median_length)
        
        # Calculate median token count for the current column
        median_token_count = column.apply(lambda x: len(x.split())).median()
        median_token_counts.append(median_token_count)
        
        # Calculate average count of numeric values in the current column
        total_numeric_count = column.apply(count_numbers_in_string).sum()
        average_numeric_count = total_numeric_count / len(df) if len(df) > 0 else 0
        average_numeric_counts.append(average_numeric_count)

        
        # Check for NE flag
        NE_flag = column.isin(R1_cea).any()
        if NE_flag:
            joined_cells = column.str.cat(sep='-')        
            doc = nlp(joined_cells)
            entities = {"ORG": [], "PERS": [], "LOC": [], "OTHERS": []}

            # Extract entities and classify them
            for ent in doc.ents:
                if ent.label_ == "ORG":
                    entities["ORG"].append(ent.text)
                elif ent.label_ == "PERSON":
                    entities["PERS"].append(ent.text)
                elif ent.label_ == "GPE" or ent.label_ == "FAC":  # GPE (Geopolitical Entity)
                    entities["LOC"].append(ent.text)
                else:
                    entities["OTHERS"].append(ent.text)
            
            # Find the key of the longest entities list
            longest_key = max(entities, key=lambda k: len(entities[k]))
            print(f"{joined_cells} --> The key of the longest list is '{longest_key}'")
                    
            target.append("NE")
        elif median_length - average_numeric_count < 2:
            target.append("lit")
        else:
            target.append("None")
    
    columns.extend(df.columns.tolist())

## Round3_2019

In [ ]:
####################
# READ THE JSON
#####################

json_file_path = "./data/Round3_2019_sorted_mentions.json"

# Load the JSON file
with open(json_file_path, "r") as file:
    R3_sorted_mentions = json.load(file)

R3_cea = [item[0]for item in R3_sorted_mentions]

In [ ]:
tables = "./data/Dataset/Dataset/Round3_2019/tables/"

def count_numbers_in_string(s):
    return len(re.findall(r'\d+', str(s)))

median_lengths = []
median_token_counts = []
average_numeric_counts = []
target = []
columns = []

# Iterate through each table
for table in tqdm(os.listdir(tables)):
    table_file = os.path.join(tables, table)
    table_name = table.split(".")[0]
    df = pd.read_csv(table_file)
    
    for col in df.columns:
        column = df[col].astype(str)
        
        # Calculate median length for the current column
        median_length = column.apply(len).median()
        median_lengths.append(median_length)
        
        # Calculate median token count for the current column
        median_token_count = column.apply(lambda x: len(x.split())).median()
        median_token_counts.append(median_token_count)
        
        # Calculate average count of numeric values in the current column
        total_numeric_count = column.apply(count_numbers_in_string).sum()
        average_numeric_count = total_numeric_count / len(df) if len(df) > 0 else 0
        average_numeric_counts.append(average_numeric_count)
        
        # Check for NE flag
        NE_flag = column.isin(R3_cea).any()
        if NE_flag:
            target.append("NE")
        elif median_length - average_numeric_count < 2:
            target.append("lit")
        else:
            target.append("None")
    
    columns.extend(df.columns.tolist())

## 2T_Round4

In [ ]:
####################
# READ THE JSON
#####################

json_file_path = "./data/2T_Round4_sorted_mentions.json"

# Load the JSON file
with open(json_file_path, "r") as file:
    R4_sorted_mentions = json.load(file)

R4_2T_cea = [item[0]for item in R4_sorted_mentions]

In [ ]:
tables = "./data/Dataset/Dataset/2T_Round4/tables/"

def count_numbers_in_string(s):
    return len(re.findall(r'\d+', str(s)))

median_lengths = []
median_token_counts = []
average_numeric_counts = []
target = []
columns = []

# Iterate through each table
for table in tqdm(os.listdir(tables)):
    table_file = os.path.join(tables, table)
    table_name = table.split(".")[0]
    df = pd.read_csv(table_file)
    
    for col in df.columns:
        column = df[col].astype(str)
        
        # Calculate median length for the current column
        median_length = column.apply(len).median()
        median_lengths.append(median_length)
        
        # Calculate median token count for the current column
        median_token_count = column.apply(lambda x: len(x.split())).median()
        median_token_counts.append(median_token_count)
        
        # Calculate average count of numeric values in the current column
        total_numeric_count = column.apply(count_numbers_in_string).sum()
        average_numeric_count = total_numeric_count / len(df) if len(df) > 0 else 0
        average_numeric_counts.append(average_numeric_count)
        
        # Check for NE flag
        NE_flag = column.isin(R4_2T_cea).any()
        if NE_flag:
            target.append("NE")
        elif median_length - average_numeric_count < 2:
            target.append("lit")
        else:
            target.append("None")
    
    columns.extend(df.columns.tolist())

## Round4

In [ ]:
####################
# READ THE JSON
#####################

json_file_path = "./data/Round4_sorted_mentions.json"

# Load the JSON file
with open(json_file_path, "r") as file:
    R4_sorted_mentions = json.load(file)

R4_cea = [item[0]for item in R4_sorted_mentions]

In [ ]:
tables = "./data/Dataset/Dataset/Round4_2020/tables/"

def count_numbers_in_string(s):
    return len(re.findall(r'\d+', str(s)))

median_lengths = []
median_token_counts = []
average_numeric_counts = []
target = []
columns = []

# Iterate through each table
for table in tqdm(os.listdir(tables)):
    table_file = os.path.join(tables, table)
    table_name = table.split(".")[0]
    df = pd.read_csv(table_file)
    
    for col in df.columns:
        column = df[col].astype(str)
        
        # Calculate median length for the current column
        median_length = column.apply(len).median()
        median_lengths.append(median_length)
        
        # Calculate median token count for the current column
        median_token_count = column.apply(lambda x: len(x.split())).median()
        median_token_counts.append(median_token_count)
        
        # Calculate average count of numeric values in the current column
        total_numeric_count = column.apply(count_numbers_in_string).sum()
        average_numeric_count = total_numeric_count / len(df) if len(df) > 0 else 0
        average_numeric_counts.append(average_numeric_count)
        
        # Check for NE flag
        NE_flag = column.isin(R4_cea).any()
        if NE_flag:
            target.append("NE")
        elif median_length - average_numeric_count < 2:
            target.append("lit")
        else:
            target.append("None")
    
    columns.extend(df.columns.tolist())

## DF creation

In [ ]:
# Create the DataFrame
df_def = pd.DataFrame({
    'column names': columns,
    'median_lengths': median_lengths,
    'median_token_counts': median_token_counts,
    'average_numeric_counts': average_numeric_counts,
    'target': target
})

In [ ]:
df_def.to_csv('./data/NE_lit_dataset.csv', index=False)

In [ ]:
###################################
#   READ DIRECTLY THE DATASET HERE
###################################

df = pd.read_csv('./data/NE_lit_dataset.csv')
filtered_df = df[df['target'].isin(['lit', 'NE'])]

# Displaying the filtered DataFrame
df[:7]

In [ ]:
target_counts = df['target'].value_counts()

# Extract counts for specific values
ne_count = target_counts.get("NE", 0)
lit_count = target_counts.get("lit", 0)
none_count = df.shape[0] - (ne_count+lit_count)

print(f"Count of 'NE': {ne_count}")
print(f"Count of 'lit': {lit_count}")
print(f"Count of 'NaN': {none_count}")

## Model training

In [ ]:
# Convert the target variable to numeric
label_encoder = LabelEncoder()
filtered_df['target'] = label_encoder.fit_transform(filtered_df['target'])

# One-hot encode the 'column names' column
one_hot_encoder = OneHotEncoder(sparse=False)
encoded_columns = one_hot_encoder.fit_transform(filtered_df[['column names']])

# Combine the encoded categorical data with the numeric data
numeric_data = filtered_df[['median_lengths', 'median_token_counts', 'average_numeric_counts']].values
X = np.hstack([encoded_columns, numeric_data])
y = filtered_df['target'].values

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Define the model
model = Sequential([
    Input(shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(16, activation='relu'),
    Dense(8, activation='relu'),
    Dense(1, activation='sigmoid')  # Output layer with sigmoid activation for binary classification
])

# Compile the model
model.compile(optimizer=Adam(learning_rate=0.001),
              loss='binary_crossentropy',
              metrics=['accuracy'])

# Train the model
history = model.fit(X_train, y_train, epochs=20, batch_size=32, validation_split=0.2)

# Evaluate the model
loss, accuracy = model.evaluate(X_test, y_test)
print(f'Test Accuracy: {accuracy*100:.2f}%')

In [ ]:

# Make predictions
y_pred_probs = model.predict(X_test)
y_pred = (y_pred_probs > 0.5).astype(int)
mapped_predictions = ["lit" if pred == 1 else "NE" for pred in y_pred.ravel()]

# Extract the part of X_test that corresponds to the one-hot encoded columns
encoded_columns_test = X_test[:, :encoded_columns.shape[1]]

# Inverse transform the one-hot encoded columns to get the original categorical labels
original_labels = one_hot_encoder.inverse_transform(encoded_columns_test)

# Print a few examples to check
for i in range(100):
    print(f'Original label: {original_labels[i]}, Predicted: {mapped_predictions[i]}')

In [ ]:
filtered_df[:10]